
body {
	font-size: 1rem;
    color: white;
    background-color: rgb(107,107,107);
}

h1 {
    font-family: balloon-urw-drop-shadow, sans-serif;
        color: rgb(255,97,97)

}

h2 {
	font-family: balloon-d, sans-serif;

}

h3 {
        font-family: balloon-d, sans-serif;
        color: rgb(255,97,97)

}



.btn-outline-light {
  color: #fff;
  border-color: #fff;
}
.btn-outline-light:hover {
  color: #000;
  background-color: #ff6161;
  border-color: #ff6161;
}


.form-control:focus{
  color: #fff;
  background-color: #ff6161;
  border-color: #ff6161;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(255, 97, 97, 0.25);
}

.form-control:hover{
  background-color: #ff6161;
}


img {
	height: auto; 
	max-width: 100%;
	border: 1px solid black; 
}


a {
	color: rgb(255,191,191);
	transition: color 0.5s;
}

a:active, a:hover, a:focus {
	color: white; 
	text-decoration: none;
}

code, samp {
	display: block;
	background-color: rgb(107,107,107);
	padding: 0.5rem;
}

.nav-main-item {
	display: inline-block;
	color: white;
	background-color: black;
	font-size: 1.5rem;
	text-decoration: none;
	transition: background-color 0.5s ease-out;
    
}

.bg1 {
	background-color: purple;
}

.bg2 {
	background-color: green;
}

.bg3 {
	background-color: blue;
}


.nav-main-item:active, .nav-main-item:hover, .nav-main-item:focus {
	color: white;
	background-color: rgb(255,97,97);
}